.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 100%;
}

.search {
  padding: 15px;
}

.blockList {
  padding: 15px;
}

.blockDetailRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid gray;
}

.transactionRow {
  display: flex;
  flex-direction: column;
}
