.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  max-width: 900px;
  margin-top: 50px;
}

.search {
  padding: 15px;
  width: 100%;
}


.blockDetailRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid gray;
}

.transactionRow {
  display: flex;
  flex-direction: column;
}
